sphinx==3.3.0
sphinx_rtd_theme==0.5.0
sphinxcontrib-katex==0.7.1
sphinxcontrib-bibtex==1.0.0
sphinx-autodoc-typehints==1.11.1
IPython==7.16.3
ipykernel==5.3.4
pandoc==1.0.2
myst_nb==0.13.1
docutils==0.16
matplotlib==3.5.0
